@model SuccessViewModel

@if (Model.IsUnsubscribe)
{
    <div>
        <img src=~/images/icon-email-unsubcribe.png/>
    </div>
}
else
{
    <div>
        <img src=~/images/icon-email-unsubscribe-tick.png />
    </div>
    
}
@await Html.PartialAsync("_SuccessView", Model)