
@model UnsubscribeSuccessViewModel

<div style="margin-top: 10px">
    <b><p style="font-size:larger">@Model.UnSubscribeSuccess</p></b>
</div>

<div style="margin-top: 15px">
    <p style="font-size:small"><a href="#">@Model.ClickHere</a> @Model.SubscribeBack</p>
</div>
