@model SuccessViewModel

<div style="margin-top: 10px">
    <b><p style="font-size:larger">@Model.SuccessMessage</p></b>
</div>

<div style="margin-top: 15px">
    <p style="font-size:small"><a href="javascript:revert();">@Model.ClickHere</a> @Model.RevertBack</p>
</div>


<div class="lds-box" style="visibility: hidden;"><div></div><div></div><div></div></div>

<script>
   
    
    function revert(){
        $('.lds-box').show();
        document.getElementsByClassName('lds-box')[0].style.visibility = 'visible';

        setTimeout(() => {
            window.location = "@Model.RevertBackUrl";
        }, 5000);
        }
</script>