html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.unsubsBtn {
    border: 0;
    border-radius: 15px;
    background-color: #318EBA;
}

.unsubsBtnDiv {
    padding-top: 15px;
}

/***************************** Loading style ***************************************/

.lds-box {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
}

    .lds-box div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #318EBA;
        animation: lds-box 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

.lds-box div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-box div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-box div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-box {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

/***************************** Loading style end ************************************/